[submodule "components/tinyusb/tinyusb"]
	path = components/tinyusb/tinyusb
	url = https://github.com/espressif/tinyusb
[submodule "components/hagl"]
	path = components/hagl
	url = https://github.com/tuupola/hagl
[submodule "components/hagl_hal"]
	path = components/hagl_hal
	url = https://github.com/tuupola/hagl_esp_mipi.git
